<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- main JS libs -->
  <script src="../static/vanilla-cream-css/js/libs/modernizr.min.js"
          th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
  <script src="../static/vanilla-cream-css/js/libs/jquery-1.10.0.js"
          th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
  <script src="../static/vanilla-cream-css/js/libs/jquery-ui.min.js"
          th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
  <script src="../static/vanilla-cream-css/js/libs/bootstrap.min.js"
          th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>
  <!-- Style CSS -->
  <link rel="stylesheet" href="../static/vanilla-cream-css/css/bootstrap.css"
        th:href="@{/vanilla-cream-css/css/bootstrap.css}"/>
  <link rel="stylesheet" href="../static/vanilla-cream-css/style.css"
        th:href="@{/vanilla-cream-css/style.css}"/>
  <!-- scripts -->
  <script src="../static/vanilla-cream-css/js/general.js"
          th:src="@{/vanilla-cream-css/js/general.js}"></script>
</head>
<body>
<div>
  <table width="100%" border="1" cellspacing="1" cellpadding="0">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>PRICE</th>
      <th>CREATETIME</th>
      <th>DETAIL</th>
    </tr>
    <tr th:each="prod : ${productList}" th:class="${prodStat.odd}? 'odd'">
      <td th:text="${prod.id}"></td>
      <td th:text="${prod.name}"></td>
      <td th:text="${prod.price}"></td>
      <td th:text="${prod.createTime}"></td>
      <td th:text="${prod.remarks}"></td>
      <!--<td>
        <span th:text="${#lists.size(prod.comments)}">2</span> comment/s
        <a href="comments.html"
           th:href="@{/product/comments(prodId=${prod.id})}"
           th:unless="${#lists.isEmpty(prod.comments)}">view</a>
      </td>-->
    </tr>
  </table>
</div>
</body>
</html>