<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>userform</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- main JS libs -->
  <script src="../static/vanilla-cream-css/js/libs/modernizr.min.js"
          th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
  <script src="../static/vanilla-cream-css/js/libs/jquery-1.10.0.js"
          th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
  <script src="../static/vanilla-cream-css/js/libs/jquery-ui.min.js"
          th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
  <script src="../static/vanilla-cream-css/js/libs/bootstrap.min.js"
          th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>
  <!-- Style CSS -->
  <link rel="stylesheet" href="../static/vanilla-cream-css/css/bootstrap.css"
        th:href="@{/vanilla-cream-css/css/bootstrap.css}"/>
  <link rel="stylesheet" href="../static/vanilla-cream-css/style.css"
        th:href="@{/vanilla-cream-css/style.css}"/>
  <!-- scripts -->
  <script src="../static/vanilla-cream-css/js/general.js"
          th:src="@{/vanilla-cream-css/js/general.js}"></script>
</head>
<body>
  <div th:object="${user}">
    <p th:text="*{username}"></p>
    <p th:text="*{password}"></p>
    <p th:text="*{phone}"></p>
  </div>
</body>
</html>